* {
    margin: 0;
}
li {
    front-size: 24px;
    }
ul {
    display: block;
    width: 100px;
    height: 218px;
    background-color: rgb rgb(153, 224, 72)
}
.conteiner {
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: aliceblue;
}
.main{
   text-align: center;
}

.conteiner>img {
    max-width: 100px;
}
