* {
    margin: 0;
}
ul {
    display: block;
    width: 120px;
    height: 376px;
    background-color: rgb rgb(153, 224, 72);
}
.conteiner {
    margin: 10px;
    display: inline-block;
    text-align: center;
    background-color: aliceblue;
}
.main{
   text-align: center;
}

.conteiner>img {
    max-width: 200px;
}
.logo {
    margin-right: 10px;
    width: 150px; 
    height: 100px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
body {
background-color: burlywood;
}
.conteiner {
    background-color: rgb(197, 91, 91);
    margin: 50;
}
td {
    background-color: yellow;
}
th {
    background-color: rgb(255, 179, 39);
}
